.advantages {
  padding: 92px 0 212px 0;
  // .advantages__container
  
  &__container {}
  
  // .advantages__header
  
  &__header {
    color: var(--blue_02)
  }
  
  // .advantages__items
  
  &__items {
    display: grid;
    grid-template-areas:
    "a b"
    "a d";
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: start;
  }
  }

  .advantages-item {
    transition: all 0.2s ease-in-out;
    &:hover{
      scale: 1.2
    }

    &:nth-of-type(2) {
      grid-area: a;
      align-self: center;
    }
    &:nth-of-type(3) {
      grid-area: d;
    }
    padding: 0 48px 48px 48px;
    width: 380px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.20);
  // .advantages-item__img
  
  &__img {
    margin-bottom: 56px;
    height: 180px;
    width: 100%;
    img{
      scale: 1.2;
      width: 100%;
    }
  }
  
  // .advantages-item__header
  
  &__header {
    font-size: 20px;
    margin-bottom: 16px;

  font-weight: 600;
  }
  
  // .advantages-item__desc
  
  &__desc {
    margin-bottom: 32px;

  }
  
  // .advantages-item__more
  
  &__more {
    display: flex;
    align-items: center;
    gap: 24px;
    color: var(--blue_04);
    fill: var(--blue_04);
    img{
      width: 24px;
      height: 24px;
    }
  }
  }
  