.header {
  height: 80px;

  // .header__container
  &__logo{
    width: 48px;
    height: 32px;
  }

  &__container {
    align-items: flex-end;
    margin: 0 83px;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  
  // .header__burger-btn
  
  &__burger-btn {
    display: flex;
    flex-direction: column;
    gap: 3px;
    transition: all 0.2s ease-in-out;
    div{
      background: var(--blue_03);
      height: 2px;
      width: 24px;
    }
    &:hover{
      scale: 0.8
    }
  }
  }
  

  @media(max-width: 1023px){
    .header{
      z-index: 2;
      background: white;
      width: 100%;
      position: fixed;
      border-bottom: 1px solid var(--blue_04);
      &__container{
        align-items: center;
      }
    }
  }

  @media(max-width:767px){
    .header{
      &__container{
        margin: 0 28px;
      }
    }
  }