.on-entry {
  
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateY(100%);
  &.on-entry--show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
  }
}