//================================================================================
.section-header{
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 1.8px;
  width: 40%;
  @media(max-width: 767px){
    width: 100% !important;
    font-size: 20px !important;
    line-height: 22px !important;
  }
}
//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================